<!-- Navbar -->
<nav id="navbar" class="navbar navbar">
    <div class="container">
        <div class="navbar-header">
            <!--the href link acts as a home button and needs to be linked to an html-->
            <a id="navtext" class="navbar-brand" href="index.html">BUILD-A-DATE</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="topT" class="text-center">
        <h2>Let's Go Out!</h2>
        <h4>Choose what you would like to add to your date!</h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="inner" class="panel panel text-center">
                <div class="panel-heading">
                    <h1>Restaurants</h1>
                </div>
                <div class="panel-body">
                    <!--section where the user will get back info on different restaurants-->
                    <p><strong>1.</strong> Place 1</p>
                    <p><strong>2.</strong> Place 2</p>
                    <p><strong>3.</strong> Place 3</p>
                    <p><strong>4.</strong> Place 4</p>
                </div>
                <div class="panel-footer">
                    <h3>Add this restaurant to the date?</h3>
                    <button class="btn btn-lg">Build My Date!</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="inner" class="panel panel text-center">
                <div class="panel-heading">
                    <h1>ADVENTURE</h1>
                </div>
                <div class="panel-body">
                    <!--section where the user will get back info on different places potentially using google maps-->
                    <p><strong>1</strong> Nearby Activity</p>
                    <p><strong>2</strong> Nearby Activity</p>
                    <p><strong>25</strong> POTENTIAL GOOGLE MAPS </p>
                </div>
                <div class="panel-footer">
                    <h3>Add this adventure to the date?</h3>
                    <button class="btn btn-lg">Build my date!</button>
                </div>
            </div>
        </div>