<!-- Navbar -->
<nav id="navbar" class="navbar navbar">
  <div class="container">
    <div class="navbar-header">
      <!--the href link acts as a home button and needs to be linked to an html-->
      <a id="navtext" class="navbar-brand" href="index.html">BUILD-A-DATE</a>
    </div>
  </div>
</nav>

<!-- First Container -->
<div id="container" class="container-fluid bg-1 text-center">
  <h3 class="margin">Let's build your perfect Date Night!</h3>
  <img src="./assets/lego.gif" class="img-responsive img-circle margin" style="display:inline" alt="heart" width="900"
    height="900">
  <div class="row">
    <a href="stayin.html"><button id="btn" class="btn btn-danger btn-lg">Stay In</button></a>
    <a href="goOut.html"><button id="btn" class="btn btn-danger btn-lg">Go Out</button></a>
  </div>

  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">CALENDAR</h3>
    <p>Here are your upcoming dates!</p>
    <iframe
      src="https://calendar.google.com/calendar/embed?src=44uhq9uas2rbvmcj3gs3s4uf78%40group.calendar.google.com&ctz=America%2FLos_Angeles"
      style="border: 0" width="670" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">See how other users built their dates!</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p> We had such a great time on our date! We watched Ratatouille, and then made the famous dish from the movie
          after! Great app!</p>
        <img src="./assets/couple1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>We decided to go out on the town on our date! It did not disappoint! Our adventure recommended us a small
          hole in the wall that made the best tacos! You have to check it out!</p>
        <img src="./assets/couple2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4">
        <p>My husband got to choose the movie last time, and he chose a chick flick! EW! So tonight i got to choose and
          we watched my favorite genre! HORROR! It was a blast! Love the fact that we can keep track of who gets to
          choose what for our dates on this app! </p>
        <img src="./assets/couple3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Website made by Date-A-Base</p>
    <i class="bi bi-heart"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
      viewBox="0 0 16 16">
      <path
        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
    </svg>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>