<!-- Navbar -->
<nav id="navbar" class="navbar navbar">
    <div class="container">
        <div class="navbar-header">
            <!--the href link acts as a home button and needs to be linked to an html-->
            <a id="navtext" class="navbar-brand" href="/index">BUILD-A-DATE</a>
            <p class="navbar-brand"> || </p>
            <a id="navtext" class="navbar-brand" href="/logout">LOGOUT</a>
            <p class="navbar-brand"> || </p>
            <a id="navtext" class="navbar-brand" href="/dates">YOUR DATES</a>
            <p class="navbar-brand"> || </p>
        </div>
    </div>
</nav>

<!--choices panel will go here-->
<div class="container-fluid">
    <div id="topT" class="text-center">
        <h2>Let's Stay In</h2>
        <h4>Choose what you would like to add to your date!</h4>
        <span style="display: none;" id="userId"></span>
        <span style="display: none;" id="userMovie"></span>
        <span style="display: none;" id="userTv"></span>
        <span style="display: none;" id="userStream"></span>
        <span style="display: none;" id="userDay"></span>
        <span style="display: none;" id="userRecipe"></span>
        <span style="display: none;" id="tvOrMovie"></span>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
            <div id="inner" class="panel panel text-center">
                <div class="panel-heading" id="select">
                    <h1>ENTERTAINMENT</h1>
                    <button id="searchTv" class="btn btn-lg">TV Shows</button>
                    <button id="searchMovie" class="btn btn-lg">Movies</button>
                </div>
                <div class="panel-heading" id="movieSearch" style="display: none;">
                    <h1>MOVIES</h1>
                    <input type="text" id="mtitleInput" placeholder="Search by Title">
                    <button id="searchMTitle" class="btn btn-lg">Search</button>
                    <p> OR </p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Search By Streaming Service
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" id="netflixM">Netflix</a></li>
                            <li><a href="#" id="huluM">Hulu</a></li>
                            <li><a href="#" id="disneyM">Disney+</a></li>
                            <li><a href="#" id="primeM">Amazon Prime</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" id="m" style="display: none">
                    <div id="mResults" style="display: none;">
                        <p id="mTitle"><strong>Title: </strong></p>
                        <p id="mIMDb"><strong>IMDb Rating: </strong></p>
                        <p id="mGenres"><strong>Genres: </strong></p>
                        <p id="mYear"><strong>Year: </strong></p>
                        <p id="mStream"><strong>Watch on: </strong></p>
                    </div>
                </div>
                <div class="panel-body" id="mStream" style="display: none">
                    <div id="mStreamResults" style="display: none;">

                    </div>
                </div>
                <div class="panel-footer" style="display: none" id="mConfirm">
                    <h3>Add this movie to the date?</h3>
                    <p id="selectedTitle"></p>
                    <button class="btn btn-lg" id="addMovie">Add Movie!</button> <button class="btn btn-lg"
                        id="restart">Clear Search</button>
                </div>
                <div class="panel-footer" style="display: none" id="mStreamConfirm">
                    <h3>Add this movie to the date?</h3>
                    <p id="selectedsTitleM"></p>
                    <button class="btn btn-lg" id="addsMovie">Add Movie!</button> <button
                        class="btn btn-lg restart">Clear
                        Search</button>
                </div>

                <div class="panel-heading" id="tvSearch" style="display: none;">
                    <h1>TV SHOWS</h1>
                    <input type="text" id="ttitleInput" placeholder="Search by Title">
                    <button id="searchTTitle" class="btn btn-lg">Search</button>
                    <p> OR </p>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Search By Streaming Service
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" id="netflix">Netflix</a></li>
                            <li><a href="#" id="hulu">Hulu</a></li>
                            <li><a href="#" id="disney">Disney+</a></li>
                            <li><a href="#" id="prime">Amazon Prime</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" id="t" style="display: none">
                    <div id="tResults" style="display: none;">
                        <p id="tTitle"><strong>Title: </strong></p>
                        <p id="tIMDB"><strong>IMDb Rating: </strong></p>
                        <p id="tYear"><strong>Year: </strong></p>
                        <p id="tStream"><strong>Watch on: </strong></p>
                    </div>
                </div>
                <div class="panel-body" id="tStream" style="display: none">
                    <div id="tStreamResults" style="display: none;">

                    </div>
                </div>
                <div class="panel-footer" style="display: none" id="tConfirm">
                    <h3>Add this TV Show to the date?</h3>
                    <p id="selectedTitle"></p>
                    <button class="btn btn-lg" id="addTv">Add TV Show!</button> <button class="btn btn-lg restart">Clear
                        Search</button>
                </div>
                <div class="panel-footer" style="display: none" id="tStreamConfirm">
                    <h3>Add this TV Show to the date?</h3>
                    <p id="selectedsTitle"></p>
                    <button class="btn btn-lg" id="addsTv">Add TV Show!</button> <button
                        class="btn btn-lg restart">Clear
                        Search</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="inner" class="panel panel text-center">
                <div class="panel-heading">
                    <h1>FOOD</h1>
                    <input type="text" id="ingredientInput" placeholder="Search by Ingredient">
                    <button id="searchRecipe" class="btn btn-lg">Search</button>
                </div>
                <div class="panel-body" style="display: none" id="r">
                    <div id="rResults" style="display: none;">
                        <p id="rTitle"></p>
                        <img id="rImg" src="#">
                        <br>
                        <a id="rLink" href="#">Recipe Instructions</a>
                    </div>
                </div>
                <div class="panel-footer" style="display: none" id="rConfirm">
                    <!--on click button will add data to calendar/database-->
                    <h3>Add this recipe to the date?</h3>
                    <button class="btn btn-lg" id="addRecipe">Add Recipe!</button> <button
                        class="btn btn-lg restart">Clear
                        Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="date" style="display: none;">
        <div class="col-sm-6" style="margin-left: 290px;">
            <div id="inner" class="panel panel text-center">
                <div class="panel-heading">
                    <h1>YOUR DATE</h1>
                </div>
                <div class="panel-body">
                    <label for="day">Choose a Day:</label>
                    <input type="date" id="day" name="day">
                    <p id="entertain"><strong>Entertainment: </strong></p>
                    <p id="food"><strong>Food: </strong></p>
                </div>
                <div class="panel-footer">
                    <!--on click button will add data to calendar/database-->
                    <h3>Ready to build your date?</h3>
                    <button class="btn btn-lg" id="build">Build My Date!</button> <button
                        class="btn btn-lg restart">Clear Date</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-4 text-center">
    <p>Website made by Date-A-Base</p>
    <i class="bi bi-heart"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
        viewBox="0 0 16 16">
        <path
            d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
    </svg>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/stayIn.js"></script>